<script src='/assets/js/oidc.js' type="text/javascript"></script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        if (window.location.hash) {
            var results = document.getElementById('results');
            results.appendChild(document.createElement('P'));
            h = results.appendChild(document.createElement('H4'));
            h.appendChild(document.createTextNode('Request'));
            results.appendChild(document.createElement('P'));
            results.appendChild(document.createTextNode(localStorage.getItem("request")));
            results.appendChild(document.createElement('P'));
            h = results.appendChild(document.createElement('H4'));
            h.appendChild(document.createTextNode('Response'));
            results.appendChild(document.createTextNode(window.location.href));
            results.appendChild(document.createElement('P'));
            h = results.appendChild(document.createElement('H4'));
            h.appendChild(document.createTextNode('ID Token'));
            var client = new OIDCClient({});
            var tokens = client.implicit.getTokens(window.location.hash);
            results.appendChild(document.createTextNode(tokens['id_token']));
        }
    }, false);

    function implicitFlow(clientId) {
        console.log("implicit flow");
        var client = new OIDCClient({
            authorizationUri: domain.value + "/oauth2/v1/authorize",
            clientId: clientId,
            redirectUri: window.location.origin + window.location.pathname,
            scopes: ['openid', 'profile']
        });
        uri = client.implicit.getUri();
        localStorage.setItem("request", uri);
        
        window.location.assign(uri);
    }

    var form = document.querySelector('form'),
        domain = form.querySelector('[name="domain"]'),
        apiToken = form.querySelector('[name="api_token"]'),
        button = form.querySelector('button'),
        clientId = apiToken;

    domain.value = localStorage.getItem('domain');
    apiToken.value = localStorage.getItem('apiToken');

    button.addEventListener('click', function(event){
        event.preventDefault(); // prevent the form to do the post.
        
        console.log("get client");
        var xmlhttp = new XMLHttpRequest();
        xmlhttp.onreadystatechange = function() {
            if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
                console.log("response: " + xmlhttp.responseText);
                var result = JSON.parse(xmlhttp.responseText);
                console.log("client_id: " + result.client_id);
                implicitFlow(result.client_id);
            }
        }
        localStorage.setItem("domain", domain.value);
        localStorage.setItem("apiToken", apiToken.value);
        xmlhttp.open("POST", "https://snwl49j64g.execute-api.us-west-2.amazonaws.com/prod/oidc-client");
        xmlhttp.setRequestHeader('x-api-key', 'VVNVPrOLCb1KDFmMSJLsa2EVQFdpFS533SyY72VT');
        xmlhttp.setRequestHeader("Content-Type", "application/json");
        xmlhttp.send(JSON.stringify({url: domain.value, api_token: apiToken.value}));

    });
</script>
<div id="results"></div>
